html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: arial;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	margin-top: 0;
	text-align: center;
}
form {
	text-align: center;
}
.wrap_form {
	display: none;
}
#load {
	text-align: center;
}
label {
	display: block;
	margin: 15px 15px 50px;
	text-align: left;
}
label span {
	display: block;
	margin: 15px 0;
}
select,
input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #4a7ed0;
	box-shadow: inset 1px 1px 2px rgba(74, 126, 208, 0.4);
	outline: 0;
}
input {
	width: calc(100% - 20px);
}
